* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #7a7a7a;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    letter-spacing: 0.5px;
}

header {
    height: 64px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: white;

    .mobile-menu {
        transition: 0.4s;
        position: fixed;
        width: 300px;
        transform: translateX(-100%);
        background-color: white;
        height: 100%;
        top: 0;
        z-index: 9;


        .top-menu-closer {
            cursor: pointer;
            color: #000;
            margin-top: 8px;
            margin-right: 11px;
            text-align: right;

            i {
                font-size: 23px;

            }
        }

        .top-menu {
            padding: 15px;

            .menu-list {
                margin: 0;
                padding: 0;

                li {
                    padding: 15px 0;
                    border-bottom: 1px solid #eee;
                    overflow: hidden;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;

                    a {
                        text-decoration: none !important;
                        padding: 0;
                        display: inline-block;
                        vertical-align: middle;
                        width: auto;
                        margin-bottom: 0;
                        z-index: 1;
                        font-size: 16px;
                        color: #222;
                    }
                }
            }
        }
    }

    .row {
        padding: 7px 0;

        .menubar {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px 6px;
            color: black;

            .bi-list {
                font-size: 29px;
            }

            .bi-search {
                font-size: 22px;
            }

            .searchwrapper {
                position: relative;

                .active {
                    scale: 1 !important;
                }

                .search {
                    transition: 0.4s;
                    display: flex;
                    position: absolute;
                    top: 43px;
                    border: 1px solid #eee;
                    padding: 5px 20px 5px 10px;
                    margin: 0;
                    background: #fff;
                    text-transform: capitalize;
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.8px;
                    color: #999;
                    align-items: center;
                    scale: 0;

                    input {
                        border: none !important;
                    }

                    i {
                        font-size: 14px;
                        color: black;
                    }
                }
            }
        }

        .logo-wrapper {
            padding: 0 !important;
            display: flex;
            align-items: center;

            .logo {
                width: 100%;

                .img-responsive {
                    width: 100%;

                    height: auto !important;
                }


            }
        }

        .login-basket {
            display: flex;
            align-items: center;
            justify-content: end;

            .login-basket-wrapper {
                float: right;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px 6px;
                color: black !important;
            }

            .bi-person {
                font-size: 29px;
            }

            .basket {
                position: relative;

                .bi-handbag {
                    font-size: 24px;
                    position: relative;

                    span {
                        font-style: normal;
                        position: absolute;
                        top: 0;
                        right: -8px;
                        font-size: 13px;
                        padding: 0px 5px;
                        background-color: red;
                        border-radius: 50%;
                        color: white;
                    }
                }

                .cardbox {
                    transition: 0.4s;
                    position: absolute;
                    right: 0;
                    margin-top: 10px;
                    width: 295px;
                    background-color: #fff;
                    padding: 0 15px;
                    border: 1px solid #e7e7e7;
                    scale: 0;

                    &__row {

                        margin: 0;
                        width: 100%;
                        border-bottom: 1px solid #e3e3e3;
                        padding: 10px 15px !important;


                        &__image {
                            padding: 0;


                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        &__desc {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            span {
                                color: #222;
                                font-weight: 500;
                            }

                            .price {
                                font-weight: 400;
                                margin: 5px 0;
                                color: #c95149;
                            }

                            .id {
                                display: none;
                            }

                        }

                        &__delete-btn {
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;

                            span {
                                padding: 5px;
                                background: #d1524c;
                                color: white;
                                font-weight: bolder;
                            }
                        }


                    }

                    &__sub-total {
                        .total {
                            font-weight: 500;
                            color: #232323;
                            font-size: 13px;
                            line-height: 22px;
                        }

                        .total-price {
                            display: flex;
                            justify-content: end;
                            font-weight: 400;
                            color: #7a7a7a;
                            font-size: 13px;
                        }

                    }

                    &__btns {
                        display: flex;
                        justify-content: center;

                        a {
                            width: max-content;
                        }

                        .viewCard {
                            background-color: #eb4d4b;
                            border-color: #eb4d4b;
                            color: #fff;
                            outline: none;
                            line-height: 18px;
                            font-weight: 400;
                            padding: 10px 20px;
                            border-radius: 0;
                            transition: all 0.5s;
                        }

                        .Checkout {
                            opacity: 1;
                            font-size: 14px;
                            font-weight: 400;
                            padding: 10px 20px;
                            text-transform: uppercase;
                            border-radius: 0;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -o-transition: all 0.5s;
                            transition: all 0.5s;
                            color: #fff;
                            background-color: #232323;
                            border: 1px solid #232323;
                            outline: none;
                            line-height: 18px;
                        }

                    }

                    &__empty {
                        font-size: 14px;
                        padding: 10px 0;
                        line-height: 18px;
                    }

                    .active {
                        display: none !important;
                    }
                }

            }

            .active {
                scale: 1 !important;
                border: 1px solid rgb(96, 96, 96);

            }

            .register {
                position: relative;

                .register-dropdown {
                    transition: 0.5s;
                    scale: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 42px;
                    right: 0;
                    left: auto;
                    border-radius: 0;
                    padding: 9px 15px;
                    background-color: white;

                    ul {
                        padding: 0;
                        margin: 0;

                        li {
                            a {
                                color: #888;
                                font-size: 12px;
                                font-weight: 500;
                                padding: 5px 10px;
                            }
                        }

                        .languageswrapper {
                            border-top: 1px solid #e5e5e5;
                            border-bottom: 1px solid #e5e5e5;
                            padding: 10px 0;
                            margin: 10px 0;
                        }

                        .languages {
                            color: #888;
                            padding: 5px 10px;
                            text-align: left;
                            font-size: 12px;
                            font-weight: 500;
                            display: flex;
                            gap: 10px;




                            .english {
                                display: flex;
                                padding: 5px 10px;
                                gap: 8px;

                            }

                            .az {
                                display: flex;
                                padding: 5px 10px;
                                gap: 8px;

                            }

                            img {
                                width: 10px;
                                height: auto;
                            }
                        }

                        .currencywrapper {

                            ul {
                                display: flex;

                                li {
                                    span {
                                        width: max-content;
                                        color: #888;
                                        padding: 5px 10px;
                                        text-align: left;
                                        font-size: 12px;
                                        font-weight: 500;
                                        display: flex;
                                        flex-wrap: nowrap !important;
                                    }


                                }
                            }
                        }
                    }
                }
            }
        }



    }
}

.account-register {
    margin-bottom: 30px;
    background: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/breadcrumb.png) no-repeat top;
    background-attachment: fixed;
    background-color: #f5f5f5;
    text-align: center;

    .list {
        background: transparent;
        color: black;
        padding: 60px 15px;
        margin-bottom: 0;
        text-align: center;
        border-radius: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            white-space: nowrap;
            line-height: 17px;

            a {
                font-size: 16px;
                color: black;
            }

        }

        .bef::before {
            content: "|";
            padding: 0 10px 0 5px;
            top: -1px;
            font-weight: 400;
            color: #262626;
            position: relative;
        }
    }

}

.sidebar-collections {
    .container {
        .my__row {
            @media(max-width: 992px) {
                flex-direction: column-reverse !important;
            }

            .sidebar {
                .categories {
                    border: 1px solid #e9e9e9;
                    margin-bottom: 30px;

                    &__title {
                        h2 {
                            background: #f5f5f5;

                            padding: 15px;
                            border: medium none;
                            color: #222;
                            letter-spacing: 1px;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 16px;
                        }

                    }

                    &__list {
                        padding: 0;
                        margin: 0;
                        background-color: #fff;

                        a {
                            border: 0;
                            color: #232323;
                            display: inline-block;
                            padding: 10px 15px;
                        }
                    }
                }

                .refine-search {
                    border: 1px solid #e9e9e9;
                    margin-bottom: 30px;

                    &__title {
                        h2 {
                            background: #f5f5f5;

                            padding: 15px;
                            border: medium none;
                            color: #222;
                            letter-spacing: 1px;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 16px;
                        }
                    }

                    .refine-item {
                        &:last-child {
                            padding-bottom: 15px;
                        }

                        h3 {
                            color: #262626;
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 10px;
                            padding: 10px 18px;
                            text-transform: uppercase;
                        }

                        .form-group {
                            padding: 0 18px;
                            margin-bottom: 15px;
                            border: none;
                            margin-bottom: 10px;
                            border-radius: 0;
                        }
                    }

                    .refine__button {
                        padding: 0 15px 15px;

                        button {
                            font-size: 14px;
                            font-weight: 400;
                            padding: 10px 20px;
                            text-transform: uppercase;
                            border-radius: 0;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -o-transition: all 0.5s;
                            transition: all 0.5s;
                            color: #fff;
                            background-color: #232323;
                            border: 1px solid #232323;
                            outline: none;
                            line-height: 18px;

                            &:hover {
                                background-color: #eb4d4b;
                                ;
                            }
                        }
                    }
                }

                .bestsellers {
                    border: 1px solid #e9e9e9;
                    margin-bottom: 30px;

                    &__title {
                        h2 {
                            background: #f5f5f5;

                            padding: 15px;
                            border: medium none;
                            color: #222;
                            letter-spacing: 1px;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 16px;
                        }

                    }

                    &__products {
                        &__product {
                            display: flex;
                            padding: 15px 15px 0;

                            &__desc {
                                margin-left: 10px;

                                .name {
                                    white-space: normal;
                                    font-size: 15px;
                                    font-weight: 400;
                                    color: #222;
                                }

                                .price {
                                    font-size: 14px;
                                    margin-bottom: 2px;
                                    color: #eb4d4b;
                                }

                                .oldPrice {
                                    text-decoration-line: line-through !important;
                                }
                            }
                        }
                    }
                }

                .product-poster {
                    position: relative;
                    margin-bottom: 30px;

                    .poster {
                        img {
                            width: 100%;
                        }
                    }

                    &:hover {
                        ::after {
                            position: absolute;
                            content: '';
                            left: 0;
                            width: 100%;
                            height: 100%;
                            top: 0;


                            scale: 0.9;
                            background-color: rgba(0, 0, 0, 0.1);
                            background-blend-mode: darken;
                            animation-name: bigdiscount;
                            animation-duration: 0.3s;
                        }
                    }

                    @keyframes bigdiscount {
                        0% {
                            scale: 0;
                            transform: rotateZ(250deg);
                        }

                        100% {
                            scale: 0.9;
                            transform: rotateZ(360deg);
                        }

                    }
                }

            }

            .categories {
                .content {

                    .product-list-top {
                        padding: 14px 15px;
                        line-height: 30px;
                        background-color: #f5f5f5;
                        margin-bottom: 15px;

                        .row {
                            align-items: center;



                            .sections {
                                width: 10%;

                                .btn-list-grid {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;


                                    .btn-group {
                                        gap: 8px;


                                        button {
                                            border: none;
                                            width: 22px;
                                            background-color: transparent;
                                            height: 22px;

                                            i {
                                                font-size: 22px;
                                            }
                                        }
                                    }
                                }
                            }

                            .compare {
                                color: #222;
                                display: flex;
                                align-items: center;
                                width: 30%;
                            }

                            .select-wrapper {
                                display: flex;
                                width: 60%;

                                label {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #232323;
                                    float: left;
                                    margin: 3px 10px 0 0;
                                    width: auto;
                                    padding: 0;

                                }

                                select {
                                    font-size: 12px;
                                    border: 1px solid #e0e0e0;
                                    background-color: #fff;
                                    padding: 0 5px;
                                    color: #333;
                                    position: relative;
                                    text-decoration: none;
                                    white-space: nowrap;
                                    text-align: left;
                                    border-radius: 0;
                                    box-shadow: none;
                                    cursor: pointer;
                                    appearance: none;

                                    &::after {
                                        content: '\f0d7';
                                        font-size: 14px;
                                        position: absolute;
                                        right: 10px;
                                        top: 2px;
                                        pointer-events: none;
                                    }
                                }



                            }

                            @media (max-width:767px) {
                                .select-wrapper {
                                    width: 100%;
                                }

                                .sections {
                                    width: 20%;
                                }

                                .compare {
                                    width: 70%;

                                }
                            }
                        }
                    }

                    .row {
                        .product-container {

                            .product-wrapper {
                                padding: 15px 20px;

                                &:hover {
                                    .addbtn {
                                        transform: translateY(-28px);
                                        opacity: 1;

                                    }

                                    .icon {
                                        transform: translateX(0px) !important;
                                        opacity: 1 !important;
                                    }
                                    .image{
                                        .hoveredimg{
                                            transform: rotateY(0deg);
                                            opacity: 1;
                                        }
                                    }
                                }


                                text-align: center;
                                position: relative;
                                transition: 0.5s;
                                overflow: hidden;

                                .image {
                                    position: relative;

                                    img {
                                        width: 100%;
                                        transition: 0.6s ease-in-out;
                                    }

                                    .hoveredimg {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        transform: rotateY(90deg);
                                        opacity: 0;
                                    }

                                    .rating {
                                        position: absolute;
                                        bottom: 10px;
                                        left: 0;
                                        right: 0;
                                        display: flex;
                                        justify-content: center;
                                        gap: 4px;

                                        .yellow {
                                            color:
                                                #fec42d;
                                        }

                                        i {
                                            font-size: 14px;
                                            color: #ccc
                                        }
                                    }

                                    .button-group {
                                        position: absolute;
                                        left: auto;
                                        right: 10px;
                                        top: 10px;
                                        display: block;

                                        .quick-view {
                                            transition: 0.7s;
                                        }

                                        .wish {
                                            transition: 0.5s;
                                        }

                                        .chart {
                                            transition: 0.3s;
                                        }

                                        .icon {

                                            transform: translateX(20px);
                                            opacity: 0;
                                            line-height: 0;
                                            margin-bottom: 10px;
                                            padding: 10px;
                                            background: white;
                                            border-radius: 50%;
                                            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                            display: flex;
                                            align-items: center;


                                            i {
                                                color: #222;
                                                font-size: 18px;
                                                font-weight: bold;
                                            }

                                            &:hover {
                                                background-color: #eb4d4b;

                                                i {
                                                    color: white;
                                                }
                                            }
                                        }


                                    }
                                }

                                .caption {
                                    padding-bottom: 10px;

                                    h4 {
                                        font-size: 15px;
                                        margin-bottom: 10px;
                                        color: #222;
                                    }

                                    .price {
                                        color: #eb4d4b;
                                        font-size: 16px;
                                        font-weight: 500;
                                        margin-bottom: 5px;
                                    }

                                    .description {
                                        display: none;
                                        margin-bottom: 12px;
                                        font-size: 14px;
                                        line-height: 20px;
                                    }


                                }

                                .addbtn {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    transition: 0.5s;
                                    opacity: 0;

                                    button {
                                        border: none;
                                        color: #fff;
                                        border-radius: 0;
                                        background-color: #eb4d4b;
                                        padding: 10px 21px;
                                        text-transform: uppercase;
                                    }


                                }

                            }

                            @media(max-width:576px) {
                                .product-wrapper {
                                    .addbtn {
                                        position: static;
                                        opacity: 1;
                                        transform: translateY(0);
                                        button {
                                            font-size: 13px;
                                            padding: 8px 11px;

                                        }   

                                    }
                                    .icon {
                                        transform: translateX(0px) !important;
                                        opacity: 1 !important;
                                        padding: 0 !important;
                                        i{
                                            font-size: 11px !important;
                                        }
                                    }
                                    .rating{
                                        gap: 2px !important;
                                        i{
                                        font-size: 11px !important;
                
                                        }
                                    }

                                    
                                }
                            }

                        }
                    }
                    .product-list-bottom{
                        padding: 14px 15px;
                        line-height: 30px;
                        background-color: #f5f5f5;
                        margin-bottom: 15px;
                        color: #333;
                        margin-top: 15px;
                    }

                }
            }


        }
    }

}

.footer-before {
    padding: 40px 0 35px;
    background: #f2f6f9;

    .container {
        .row {
            .my__card {
                border: 1px solid rgba(102, 102, 102, 0.15);
                margin-bottom: 40px;
                padding: 25px 15px;

            }

            .my__card__second {
                padding: 40px 15px;
            }

            .section-header {
                text-align: center;

                .subtitle {
                    font-size: 14px;
                    margin-bottom: 8px;
                    color: #eb4d4b;
                    letter-spacing: 3px;
                    font-weight: 500;
                }

                .home-title {
                    letter-spacing: 0;
                    font-weight: 600;
                    color: #222;
                    position: relative;
                    display: inline-block;
                    margin: 0;
                    margin-bottom: 25px;
                    padding-bottom: 25px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 80px;
                        height: 4px;
                        background: #eb4d4b;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: 0 auto;
                    }
                }

                .bi-newspaper {
                    display: block;
                    font-size: 40px;
                    color: #eb4d4b;
                }

                .second-title {
                    padding: 0;
                    margin-bottom: 13px;

                    &::before {
                        display: none;
                    }
                }


            }

            .input-group {
                padding: 20px 0;

                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 30px !important;
                    border: 1px solid #e5e5e5;
                    padding: 10px 15px;
                    padding-right: 135px;
                    background: #fff;
                    color: #666;
                    font-size: 13px;
                    font-weight: 300;
                    text-transform: capitalize;
                }

                button {
                    height: 50px;
                    background-color: #eb4d4b;
                    fill: #fff;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    border-radius: 30px;
                    padding: 13px 25px;
                    color: #fff;
                    border: 0;
                    float: right;
                    text-transform: uppercase;
                    right: 0;
                    left: auto;
                    text-align: center;
                    position: absolute;
                    cursor: pointer;
                }
            }

            form {
                overflow: hidden;
                text-align: center;

                input {
                    height: 45px;
                    border-radius: 15px;
                    box-shadow: none;
                    width: 100%;
                    font-size: 15px;
                    line-height: 1.42857;
                    color: #555;
                    border-color: #e9e9e9;
                    padding: 0 20px;
                    margin-bottom: 15px;
                }

                textarea {
                    border-radius: 15px;
                    height: 140px;
                    padding: 12px 12px 0;
                    margin-bottom: 15px;

                }
            }

            .buttons {
                border-radius: 30px;
                height: 50px;
                font-size: 14px;
                font-weight: 400;
                padding: 8px 20px;
                background: #eb4d4b;
                color: #fff;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                span {
                    margin-bottom: 0;

                }
            }

            .social-group {

                margin-bottom: 15px !important;

                &-container {
                    .icons {
                        text-align: center;
                        padding: 0;

                        .icon {

                            display: inline-flex;
                            vertical-align: middle;
                            border-radius: 50%;
                            height: 34px;
                            width: 34px;
                            padding: 3px;
                            margin: 1px 1px;
                            text-align: center;
                            position: relative;
                            justify-content: center;

                            a {
                                color: #fff;
                                text-decoration: none;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center !important;

                                i {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .container {
        .footer-block {
            ul {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;

                .last {
                    &::before {
                        content: none;
                    }
                }

                li {
                    position: relative;
                    padding: 0 8px;
                    display: inline-block;
                    margin: 0;

                    &::before {
                        position: absolute;
                        content: "";
                        left: auto;
                        right: 0px;
                        background: rgba(102, 102, 102, 0.2);
                        width: 1px;
                        height: 15px;
                        top: 0px;
                    }

                    a {
                        color: #666;

                    }
                }

            }
        }
    }
}

@media screen and(max-width:768px) {
    .sidebar-register {
        .container {
            .row {
                flex-direction: column-reverse;
            }
        }
    }
}



@media screen and(min-width:992px) {
    header {
        height: 88px;
        width: 100%;
        z-index: 9;
        background-color: white;
        position: sticky;
        top: 0;
        transition: 0.4s;

        .menubar {
            display: none !important;
        }

        .logo {
            padding: 0 15px;
            margin: 0 auto;
            scale: 0.7;
        }

        .menuwrapper {
            display: block !important;

            .menu {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;

                li {
                    a {
                        padding: 15px 10px;
                        font-size: 18px;
                        display: block;
                        font-weight: 400;
                        letter-spacing: 0.45px;
                        color: black;
                        text-transform: capitalize;
                        position: relative;

                        &:hover {
                            color: red;
                        }
                    }


                }

                .dropwrapper {
                    position: relative;

                    &:hover {
                        .dropdown {
                            visibility: visible;
                            height: 160px;
                        }
                    }

                    &:first-child:hover {
                        color: black;
                    }

                    .dropdown {
                        transition: 0.2s;
                        top: 47px;
                        visibility: hidden;
                        height: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 47px;
                        border: 1px solid rgb(122, 122, 122);
                        left: 0;

                        ul {
                            background-color: #fff;
                            padding: 10px;

                            h5 {
                                font-size: 15px;
                                font-weight: 500;
                                color: rgb(34, 34, 34);
                            }


                            li {
                                width: 199px;
                                font-weight: 400;
                                padding: 0 !important;
                                line-height: 26px;
                            }



                            hr {
                                height: 1px;
                                background: rgb(122, 122, 122);
                                background: linear-gradient(0deg, rgba(122, 122, 122, 0) 100%, rgba(255, 53, 237, 1) 100%);
                            }

                            a {
                                padding: 0;
                                padding-bottom: 5px;
                                clear: both;
                                font-weight: 400;
                                font-size: 13px;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }

        .login-basket-wrapper {
            i {
                color: black;

                &:hover {
                    color: red;
                }
            }

            .active {
                scale: 2 !important;
            }

            .cardbox {
                width: 340px !important;
                top: 40px;
                scale: 0;
            }
        }


    }

    .headeractive {

        position: sticky;
        background-color: white;
        top: 0;
        padding: 10;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        height: 68px;
        transition: 0.5s;

        a {
            color: black !important;

            &:hover {
                color: red !important;
            }
        }

        i {
            color: black !important;

            &:hover {
                color: red !important;
            }
        }

    }


    footer {
        .container {
            .footer-block {
                ul {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;

                    .last {
                        &::before {
                            content: none;
                        }
                    }

                    li {
                        position: relative;
                        padding: 0 8px;
                        display: inline-block;
                        margin: 0;

                        &::before {
                            position: absolute;
                            content: "";
                            left: auto;
                            right: 0px;
                            background: rgba(102, 102, 102, 0.2);
                            width: 1px;
                            height: 15px;
                            top: 0px;
                        }

                        a {
                            color: #666;
                            font-size: 20px;
                            line-height: 27px;

                        }
                    }

                }
            }
        }
    }

}




@media screen and(min-width:768px) {}